a, button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

a i.fa, button i.fa {
  margin: 0 5px; }

.uppercase-date {
  text-transform: uppercase;
  letter-spacing: 0.08em; }

p.lead, section, div.section {
  margin-bottom: 40px; }

.mb-small {
  margin-bottom: 20px !important; }

.heading {
  margin-bottom: 40px; }
  .heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
    display: inline-block;
    border-bottom: solid 5px #467fbf;
    line-height: 1.1;
    margin-bottom: 0;
    padding-bottom: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.06em; }
  .heading h1 i.fa, .heading h2 i.fa, .heading h3 i.fa, .heading h4 i.fa, .heading h5 i.fa {
    display: inline-block;
    background: #467fbf;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    border-radius: 15px; }

#error-page {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px; }
  #error-page h4 {
    margin-bottom: 40px; }
  #error-page p.buttons {
    margin-top: 40px; }

.navbar {
  border: none; }
  .navbar ul.nav > li > a {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 0.08em;
    border-top: solid 5px transparent; }
    .navbar ul.nav > li > a:hover {
      border-top: solid 5px #467fbf; }
  .navbar ul.nav > li.active > a, .navbar ul.nav > li.open > a {
    text-decoration: none !important;
    border-top: solid 5px #294d76; }
  .navbar ul.dropdown-menu {
    margin: 0;
    padding: 0; }
    .navbar ul.dropdown-menu li {
      list-style-type: none;
      border-bottom: solid 1px #eeeeee;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      padding: 4px 0; }
      .navbar ul.dropdown-menu li a {
        position: relative;
        color: #999999;
        font-size: 12px;
        display: block;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        left: 0; }
        .navbar ul.dropdown-menu li a:hover {
          color: #467fbf;
          text-decoration: none;
          background: none;
          left: 2px;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
  .navbar .navbar-buttons {
    float: right; }
    .navbar .navbar-buttons button, .navbar .navbar-buttons a.btn, .navbar .navbar-buttons .btn-default.navbar-toggle {
      margin-top: 11px;
      margin-bottom: 11px;
      margin-left: 0;
      margin-right: 5px; }
  .navbar .btn-default {
    color: #999999;
    background-color: #fff;
    margin-left: 7px;
    margin-right: 0; }
    .navbar .btn-default.navbar-toggle {
      color: #999999;
      background-color: #fff;
      margin-left: 7px;
      margin-right: 0; }
    .navbar .btn-default:hover, .navbar .btn-default.navbar-toggle:hover, .navbar .btn-default:focus, .navbar .btn-default.navbar-toggle:focus {
      background-color: #fff;
      border-color: #467fbf;
      color: #467fbf; }

@media (max-width: 768px) {
  .navbar ul.nav > li.active > a, .navbar ul.nav > li.open > a, .navbar ul.nav > li > a:hover {
    border-top-color: transparent; } }

@media (max-width: 767px) {
  .navbar ul.dropdown-menu li a:hover {
    left: 0; } }

/* buttons  */
.btn {
  font-weight: 700;
  font-family: "dejavu_sansbook", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 0; }

.input-group .btn {
  font-size: 14px; }

.btn-template-main {
  color: #467fbf;
  background-color: #ffffff;
  border-color: #467fbf; }
  .btn-template-main:hover, .btn-template-main:focus, .btn-template-main:active, .btn-template-main.active {
    color: #467fbf;
    background-color: #e6e6e6;
    border-color: #336194; }

.open > .dropdown-toggle.btn-template-main {
  color: #467fbf;
  background-color: #e6e6e6;
  border-color: #336194; }

.btn-template-main:active, .btn-template-main.active {
  background-image: none; }

.open > .dropdown-toggle.btn-template-main {
  background-image: none; }

.btn-template-main.disabled, .btn-template-main[disabled] {
  background-color: #ffffff;
  border-color: #467fbf; }

.btn-template-main.disabled:hover, .btn-template-main[disabled]:hover {
  background-color: #ffffff;
  border-color: #467fbf; }

.btn-template-main.disabled:focus, .btn-template-main[disabled]:focus {
  background-color: #ffffff;
  border-color: #467fbf; }

.btn-template-main.disabled:active, .btn-template-main[disabled]:active {
  background-color: #ffffff;
  border-color: #467fbf; }

.btn-template-main.disabled.active, .btn-template-main[disabled].active {
  background-color: #ffffff;
  border-color: #467fbf; }

.btn-template-main .badge {
  color: #ffffff;
  background-color: #467fbf; }

.btn-template-main:hover, .btn-template-main:focus, .btn-template-main:active, .btn-template-main.active {
  background: #467fbf;
  color: #ffffff;
  border-color: #467fbf; }

#intro {
  background: url("../img/home.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.panel.sidebar-menu {
  background: #fff;
  margin: 0 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .panel.sidebar-menu h3 {
    padding: 5px 0;
    margin: 0; }
  .panel.sidebar-menu .panel-heading {
    text-transform: uppercase;
    margin-bottom: 10px;
    background: none;
    padding: 0;
    letter-spacing: 0.08em;
    border-bottom: none; }
    .panel.sidebar-menu .panel-heading h1, .panel.sidebar-menu .panel-heading h2, .panel.sidebar-menu .panel-heading h3, .panel.sidebar-menu .panel-heading h4, .panel.sidebar-menu .panel-heading h5 {
      display: inline-block;
      border-bottom: solid 5px #467fbf;
      line-height: 1.1;
      margin-bottom: 0;
      padding-bottom: 10px; }
    .panel.sidebar-menu .panel-heading .btn.btn-danger {
      color: #fff;
      margin-top: 5px; }
  .panel.sidebar-menu .panel-body {
    padding: 0; }
    .panel.sidebar-menu .panel-body label {
      color: #999999;
      font-size: 12px; }
      .panel.sidebar-menu .panel-body label:hover {
        color: #555555; }
  .panel.sidebar-menu ul.nav ul {
    list-style: none;
    padding-left: 0; }
    .panel.sidebar-menu ul.nav ul li {
      display: block; }
      .panel.sidebar-menu ul.nav ul li a {
        position: relative;
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        text-transform: none !important;
        display: block;
        padding: 10px 15px;
        padding-left: 30px;
        font-size: 12px;
        color: #999999; }
        .panel.sidebar-menu ul.nav ul li a:hover, .panel.sidebar-menu ul.nav ul li a:focus {
          text-decoration: none;
          background-color: #eeeeee; }
  .panel.sidebar-menu ul.tag-cloud {
    list-style: none;
    padding-left: 0; }
    .panel.sidebar-menu ul.tag-cloud li {
      display: inline-block; }
      .panel.sidebar-menu ul.tag-cloud li a {
        display: inline-block;
        padding: 5px;
        border: solid 1px #eeeeee;
        border-radius: 0;
        color: #467fbf;
        margin: 5px 5px 5px 0;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-weight: 700;
        font-size: 12px; }
        .panel.sidebar-menu ul.tag-cloud li a:hover {
          color: #467fbf;
          text-decoration: none;
          border-color: #467fbf; }

.box {
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
  border-left: none;
  border-right: none; }

#heading-breadcrumbs {
  background: url(/img/header-bg-3.jpg) center center no-repeat;
  background-size: cover;
  padding: 20px 0;
  margin-bottom: 40px;
  margin-top: -60px; }
  #heading-breadcrumbs.no-mb {
    margin-bottom: 0; }
  #heading-breadcrumbs h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.08em; }
  #heading-breadcrumbs ul.breadcrumb {
    margin-top: 5px;
    margin-bottom: 0; }

@media (max-width: 991px) {
  #heading-breadcrumbs h1 {
    text-align: center; } }

#blog-listing-medium .post {
  margin-bottom: 60px; }
  #blog-listing-medium .post h2 {
    text-transform: uppercase;
    margin: 0 0 10px;
    font-size: 24px;
    letter-spacing: 0.08em; }
    #blog-listing-medium .post h2 a {
      color: #555555; }
      #blog-listing-medium .post h2 a:hover {
        color: #467fbf; }
  #blog-listing-medium .post .author-category {
    float: left;
    color: #999999;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.08em; }
    #blog-listing-medium .post .author-category a {
      font-weight: 500; }
  #blog-listing-medium .post .date-comments {
    float: right;
    font-size: 12px; }
    #blog-listing-medium .post .date-comments a {
      color: #999999;
      margin-right: 20px; }
      #blog-listing-medium .post .date-comments a:hover {
        color: #467fbf; }
  #blog-listing-medium .post .intro {
    text-align: left; }
  #blog-listing-medium .post .clearfix:before, #blog-listing-medium .post .clearfix:after {
    content: " ";
    display: table; }
  #blog-listing-medium .post .navbar:before, #blog-listing-medium .post .navbar:after {
    content: " ";
    display: table; }
  #blog-listing-medium .post .navbar-header:before, #blog-listing-medium .post .navbar-header:after {
    content: " ";
    display: table; }
  #blog-listing-medium .post .clearfix:after, #blog-listing-medium .post .navbar:after, #blog-listing-medium .post .navbar-header:after {
    clear: both; }
  #blog-listing-medium .post .clearfix:before, #blog-listing-medium .post .clearfix:after {
    content: " ";
    display: table; }
  #blog-listing-medium .post .navbar:before, #blog-listing-medium .post .navbar:after {
    content: " ";
    display: table; }
  #blog-listing-medium .post .navbar-header:before, #blog-listing-medium .post .navbar-header:after {
    content: " ";
    display: table; }
  #blog-listing-medium .post .clearfix:after, #blog-listing-medium .post .navbar:after, #blog-listing-medium .post .navbar-header:after {
    clear: both; }
  #blog-listing-medium .post .image {
    margin-bottom: 10px;
    overflow: hidden; }
    #blog-listing-medium .post .image img {
      width: 200px;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
  #blog-listing-medium .post .read-more {
    text-align: right; }

@media (min-width: 768px) {
  #blog-listing-medium .post .date-comments {
    text-align: right; } }

#blog-post #post-content {
  margin-bottom: 20px; }
  #blog-post #post-content h1, #blog-post #post-content h2, #blog-post #post-content h3 {
    margin-top: 40px; }

#blog-post div#comments {
  padding: 20px 0;
  margin-top: 20px;
  border-top: solid 1px #eeeeee; }

#footer {
  background: #555555;
  padding: 25px 0;
  color: #999999; }
  #footer a {
    font-weight: bold; }
  #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #eeeeee; }
  #footer h4 {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.08em; }
  #footer ul {
    padding-left: 0;
    list-style: none; }
    #footer ul a {
      color: #999999; }
      #footer ul a:hover {
        color: #467fbf;
        text-decoration: none; }

#copyright {
  background: #333;
  color: #ccc;
  padding: 10px 0;
  font-size: 13px;
  line-height: 28px; }
  #copyright p {
    margin: 0; }

@media (max-width: 991px) {
  #copyright p {
    float: none !important;
    text-align: center;
    margin-bottom: 10px; } }

/* Original Boostrap template overwrite */
/* breadcrumbs */
.breadcrumb {
  font-family: "dejavu_sansbook", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background-color: none;
  letter-spacing: 0.08em; }

/* nav */
.nav > li > a {
  padding: 10px 15px; }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #eeeeee; }

.nav > li.disabled > a {
  color: #999999; }
  .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    color: #999999; }

.nav .open > a {
  background-color: #eeeeee;
  border-color: #467fbf; }
  .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #467fbf; }

.nav-pills > li {
  float: left; }
  .nav-pills > li > a {
    border-radius: 0; }
  .nav-pills > li + li {
    margin-left: 2px; }
  .nav-pills > li.active > a {
    color: #ffffff;
    background-color: #467fbf; }
    .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      color: #ffffff;
      background-color: #467fbf; }

.nav-stacked > li {
  float: none; }
  .nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0; }

/* navbar */
.navbar {
  position: relative;
  min-height: 62px;
  margin-bottom: 0;
  border-bottom: 1px solid transparent; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px; } }

@media (min-width: 768px) {
  .navbar-header {
    float: left; } }

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px; }
  .navbar-collapse.in {
    overflow-y: auto; }

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none; }
    .navbar-collapse.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important; }
    .navbar-collapse.in {
      overflow-y: visible; } }

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0; } }

.navbar-brand {
  float: left;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 62px; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px; } }

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0; }
  .navbar-toggle:focus {
    outline: 0; }

.navbar-nav {
  margin: 10.5px -15px; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px; }

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px; }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px; }
    .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
      background-image: none; } }

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0; }
    .navbar-nav > li {
      float: left; }
      .navbar-nav > li > a {
        padding-top: 21px;
        padding-bottom: 21px; }
    .navbar-nav.navbar-right:last-child {
      margin-right: -15px; } }

@media (min-width: 768px) {
  .navbar-left {
    float: left !important; }
  .navbar-right {
    float: right !important; } }

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.navbar-btn {
  margin-top: 14px;
  margin-bottom: 14px; }
  .navbar-btn.btn-sm {
    margin-top: 16px;
    margin-bottom: 16px; }
  .navbar-btn.btn-xs {
    margin-top: 20px;
    margin-bottom: 20px; }

.navbar-default {
  background-color: #ffffff;
  border-color: #ccc;
  border-bottom: none;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 60px; }
  .navbar-default .navbar-brand {
    color: #555555; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #3b3b3b;
      background-color: transparent; }
  .navbar-default .navbar-nav > li > a {
    color: #555555; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #555555;
      background-color: #92b3d954; }
  .navbar-default .navbar-nav > .active > a {
    color: #ffffff;
    background-color: #467fbf; }
    .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #ffffff;
      background-color: #467fbf; }
  .navbar-default .navbar-nav > .disabled > a {
    color: #ccc;
    background-color: transparent; }
    .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: #dddddd; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #467fbf; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #888888; }
  .navbar-default .navbar-nav > .open > a {
    background-color: #467fbf;
    color: #ffffff; }
    .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      background-color: #467fbf;
      color: #ffffff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #555555; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #467fbf; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a {
    color: #ffffff;
    background-color: #467fbf; }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #467fbf; }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a {
    color: #ccc;
    background-color: transparent; }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; } }

/* scaffolding */
body {
  font-family: "dejavu_sansbook", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555; }

a {
  color: #467fbf;
  text-decoration: none; }
  a:hover {
    color: #2f5a89;
    text-decoration: underline; }
  a:focus {
    color: #2f5a89;
    text-decoration: underline;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

/* dropdowns */
.dropdown-menu {
  z-index: 1000;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu > li > a {
    padding: 5px 20px;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap; }

/* labels */
label {
  font-weight: normal; }

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0; }
  .form-control:focus {
    border-color: #467fbf;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(70, 127, 191, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(70, 127, 191, 0.6); }

.form-group {
  margin-bottom: 20px; }

/* pager*/
.pager {
  margin: 20px 0;
  border-top: solid 1px #eeeeee;
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-family: "dejavu_sansbook", Helvetica, Arial, sans-serif; }
  .pager li {
    display: inline; }
    .pager li > a, .pager li > span {
      background-color: #ffffff;
      border: 1px solid #467fbf;
      border-radius: 0; }
    .pager li > a:hover, .pager li > a:focus {
      text-decoration: none;
      color: #fff;
      background-color: #467fbf; }
  .pager .disabled > a {
    color: #999999;
    background-color: #ffffff;
    border-color: #ddd; }
    .pager .disabled > a:hover, .pager .disabled > a:focus {
      color: #999999;
      background-color: #ffffff;
      border-color: #ddd; }
  .pager .disabled > span {
    color: #999999;
    background-color: #ffffff;
    border-color: #ddd; }

/* type */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "dejavu_sansbook", Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 1.1;
  color: #333; }

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 20px; }

p {
  margin: 0 0 10px; }

.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0; }

.panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 15px 15px; }

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav, .yamm .collapse, .yamm .dropup.use-yamm, .yamm .dropdown.use-yamm {
  position: static; }

.yamm .container {
  position: relative; }

.yamm .dropdown-menu {
  left: auto; }

.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0; }

.yamm .yamm-content {
  padding: 20px 30px; }

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 15px;
  right: 15px; }

.input-group {
  width: 100%; }

#searchinput {
  margin-top: 10px;
  margin-bottom: 40px; }

.tag-cloud {
  margin-top: 5px; }

.home img {
  height: 45px; }

#content {
  min-height: calc(100vh - 299px); }

#heading-breadcrumbs + #content {
  min-height: calc(100vh - 392px); }

.navigate a {
  display: block; }

#post-share {
  margin-bottom: 30px; }
  #post-share a:hover {
    text-decoration: none; }

.thumbnail-image {
  margin-bottom: 10px;
  display: inline-block; }

.utterances {
  max-width: 100%; }
